.user-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-container nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #5E5E5E;;
    width: 100vw;
    height: 25vh;
}

.user-container nav .greeting {
    margin-top: 30px;
    color: #ffffff;
    font-size: 55px;
    font-weight: bold;
}

.user-container nav .selection-buttons {
    display: flex;
    gap: 20px;
}

.user-container nav .selection-buttons a{
    text-decoration: none;
    color: #ffffff;
    padding: 10px 5px 0px;
    font-size: 20px;
}

.user-container nav .selection-buttons a:hover{
    border-bottom: 3px solid #ffffff;
}

.user-container .main-content{
    height: 75vh;
    width: 100vw;
    overflow-x: hidden;
}
